.signals {
    position: relative;
    top: 100px;
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 20px 5px;
}

.signals .signal {
    line-height: 0.7em;
    font-size: smaller;
    width: 130px;
    border-radius: 10px;
}

.signal.BUY{
    border: 1px solid BLUE;
}

.signal.SELL {
    border: 1px solid RED;
}
.signals .signal span {
    font-weight: bold;
}

.signals .signal h2 {
    font-size: 1em;
}